.blog-header
  .d-flex.justify-content-center
    h3.text-center.mb-5
    .card.card-01
      .profile-box
        img.card-img-top.rounded-circle(src='/images/profile.jpg', alt='Card image cap')
      .card-body.text-center
        span.badge-box
          i.fa.fa-check
        h4.card-title Gilang Ramadan
        p.card-text
          | Web Developer
        span.social-box
          a(href='#')
            i.fa.fa-facebook
          a(href='https://github.com/mgrware')
            i.fa.fa-github
          a(href='#')
            i.fa.fa-linkedin
