extends layout

block content
  .wrapper
    .wrapper-mid
    // Begin Paper
    #paper
      #paper-mid
        .entry
          // Begin Image
          img.portrait.img-square(src='/images/profile.jpg', alt='John Smith')
          // End Image
          // Begin Personal Information
          .self
            h1.name
              | M Gilang Ramadan 
              br
              span Web Developer
            ul
              li.ad Bandung, Indonesia
              li.mail mgrware@gmail.com
              li.tel +62 87823290601
          // End Personal Information
          // Begin Social
          // Begin 1st Row
          .entry
            h2 OBJECTIVE
            p
              | I Primaly use Ruby and PHP, but picking up a new framework or language isn't a problem, I have extensive programming experience and I'm confortable developing on frontend or backend as well.
            p
              | My highest priority is to satisfy the customer through early and continuous delivery of web application.
          // End 1st Row
          // Begin 2nd Row
          .entry
            h2 EDUCATION
            .content
              h3 2011 - 2015
              p
                | Politechnics Piksi Ganesha, Bandung 
                br
                em Management Informatics
          // End 2nd Row
          // Begin 3rd Row
          .entry
            h2 EXPERIENCE
            .content
              h3 2013 - 2015
              p
                | Developer, Professional Certification Body 
                br
                em Developer
              ul.info
                li System Administrator 
                li Build Application
                li Database Administrator
            .content
              h3 2015 - Now
              p
                | Web Developer, Walden Global Service 
                br
                em Backend Developer
              ul.info
                li Build Web Application
                li Scrum
                li Agile Software Development
          // End 3rd Row
          // Begin 4th Row
          .entry
            h2 SKILLS
            .content
              h3 Languages
              ul.skills
                li CSS
                li PHP
                li JavaScript
                li Ruby on Rails
                li NodeJS
                li Phyton
                li SQL
            .content
              h3 Frameworks
              ul.skills
                li Rails
                li Jquery
                li Laravel
                li AdonisJS
                li ExpressJS
                li ReactNative
                li ReactJS
                li Phyramid
            .content
              h3 Subversion
              ul.skills
                li GIT
                li LINUX
          // End 4th Row
          // Begin 5th Row
          .entry
            h2 WORKS
            ul.works
              li
                | System Management Certification Body
                br
                em Laravel, MySql
              li
                | Triplulu Travel Agent System
                br
                em Laravel, MySql
              li
                | Payment Point Online Bank
                br
                em Ruby On Rails, MySql
              li
                | Rachipta Funiture Company Profile
                br
                em Laravel, MySql
              li
                | Catalogue Shopie Paris
                br
                em Ruby On Rails, PostgresSQL
              li
                | Pratesis Mobile Audit
                br
                em Ruby On Rails, PostgresSQL
              li
                | Nutrifood Shipping Export & Import
                br
                em Ruby On Rails, SqlServer
              li
                | Nutrifood – JPM/STL (Weekly Production Schedule)
                br
                em Ruby On Rails, SqlServer
              li
                | Audit Advisor field
                br
                em Ruby On Rails, MySql
          // Begin 5th Row
        .clear
        .paper-bottom
      // End Paper
    .wrapper-bottom
